@import "./variables.css";
@import "./notification.css";

* {
  margin: 0;
  padding: 0;
}

#MAIN_CONTENT,
html, body {
  width: 100%;
  height: 100%;
}


#MAIN_CONTENT {
  background: #00b7ea;
  background: linear-gradient(135deg, #00b7ea 0%, #8ca246 100%);
}
