@import "./variables.css";

/* stylelint-disable */
@define-mixin size $width: 100px, $height: 100px {
    width: $width;
    height: $height;
}

@define-mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
    }
}

@define-mixin textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
